@import './index.scss';

body {
  font-family: 'Montserrat', sans-serif;
  background: url('../assets/background.jpg') center no-repeat;
  background-size: cover;
  color: rgba(var(--graphite));
}

.main {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100vh;
}

.section {
  max-width: 90%;
  max-height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include adaptiveValue('gap', 36, 16, 0, 1200, 320);
  background-color: rgba(var(--total-white), 0.3);
  border-radius: 2rem;
}

.without-city {
  padding: 0.5rem;
}

.with-city {
  @include adaptiveValue('padding-top', 40, 24, 0, 1200, 320);
  @include adaptiveValue('padding-right', 32, 16, 0, 1200, 320);
  @include adaptiveValue('padding-bottom', 40, 24, 0, 1200, 320);
  @include adaptiveValue('padding-left', 32, 16, 0, 1200, 320);
}